<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

<!-- Content -->
<section id="gla_content" class="gla_content">

    <!-- section -->
    <section id="accordion" class="gla_section">
        <div class="container">
            <p class="text-center"><img src="assets/images/flowers_slider/fl1_c6_test-removebg-preview.png" data-bottom-top="@src:assets/images/flowers_slider/fl1_c6_test-removebg-preview.png" height="200" alt=""></p>
            <div class="gla_slide_midtitle text-center">Preguntas frecuentes</div>
            
            <div class="panel-group accord-chev top-margin-xlg">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Cómo debo ir vestido?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Totalmente libre, pero recordad no ir de blanco como la novia :)</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">¿Los niños están invitados?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>¡Por supuesto! Para nosotros, todos los invitados sois como nuestra familia.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">¿Hay aparcamiento cerca?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Tanto la ceremonia como el convite se celebran en el centro de Granada, por lo que el aparcamiento será difícil o en zona restringida. Os recomendamos echar un vistazo en la sección de parkings de esta misma web para ver cuáles os recomendamos.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">¿Habrá transporte al convite?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>La iglesia se encuentra a unos 10 minutos a pie de donde celebramos el convite, por tanto, no habrá transporte. Si alguien tiene problemas de movilidad, por favor indícanoslo en el formulario de asistencia.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">¿Es el lugar donde se celebra el convite accesible para personas con movilidad reducida?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>El hotel es completamente accesible para personas con movilidad reducida. No obstante, si necesitas asistencia adicional, indícanoslo para poder ayudarte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion end--> 
        </div>
    </section>
</section>
</div>
<!-- page end -->