<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

<!-- Content -->
<section id="gla_content" class="gla_content">

    <!-- section -->
    <section id="accordion" class="gla_section">
        <div class="container">
            <p class="text-center"><img src="assets/images/flowers_slider/fl1_c6_test-removebg-preview.png" data-bottom-top="@src:assets/images/flowers_slider/fl1_c6_test-removebg-preview.png" height="200" alt=""></p>
            <div class="gla_slide_midtitle text-center">Frequently Asked Questions</div>
            
            <div class="panel-group accord-chev top-margin-xlg">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What should I wear?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Completely up to you, but please remember not to wear white like the bride :)</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Are children invited?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Of course! For us, all our guests are like family.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Is there parking nearby?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Both the ceremony and the reception are held in the center of Granada, so parking will be difficult or in restricted areas. We recommend checking the parking section on this website to see which ones we suggest.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Will there be transportation to the reception?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>The church is about a 10-minute walk from the reception venue, so there will be no transportation. If anyone has mobility issues, please let us know in the attendance form.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Is the reception venue accessible for people with reduced mobility?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>The hotel is fully accessible for people with reduced mobility. However, if you need additional assistance, please let us know so we can help you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion end--> 
        </div>
    </section>
</section>
</div>
<!-- page end -->