<div class="reservation-section">
  <h2>Reserva tu pista de baloncesto</h2>
  
  <!-- Calendario visible -->
  <div class="calendar-container">
    <h3>Calendario de Reservas</h3>
    <div class="calendar">
      <div class="calendar-header">
        <button (click)="previousMonth()" class="btn btn-primary btn-xs">&lt;</button>
        <span><h4>{{ currentMonth | date: 'MMMM yyyy' }}</h4></span>
        <button (click)="nextMonth()" class="btn  btn-xs">&gt;</button>
      </div>
      
      <div class="calendar-dayOfTheWeek"> <h3>Lunes</h3></div> 
      
      <div class="calendar-dayOfTheWeek"> <h3>Martes</h3></div>
      <div>
        
        
      </div>
      <div class="calendar-grid">
        <div class="day" *ngFor="let day of daysInMonth" [ngClass]="{ 'selected': selectedDate === day }" (click)="selectDate(day)">
          {{ day.date }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Horas disponibles -->
  <div class="time-slots" *ngIf="selectedDate">
    <h3>Horas disponibles para el {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
    <div class="time-slot" *ngFor="let hour of availableHours" (click)="onTimeSelect(hour)">
      {{ hour }}
    </div>
  </div>

  <!-- Detalles de la reserva -->
  <div class="reservation-details" *ngIf="selectedDate && selectedTime">
    <h3>Reserva Confirmada</h3>
    <p><strong>Fecha:</strong> {{ selectedDate | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Hora:</strong> {{ selectedTime }}</p>
    <button (click)="confirmReservation()" class="btn btn-primary">Confirmar Reserva</button>
  </div>
</div>
