<app-top-nav></app-top-nav>

<!-- We give it a unique class "registry-page" -->
<div class="registry-page container text-center">
    <h2 style="margin-bottom: 10px;">Attendance</h2>
    <p style="margin-bottom: 50px;">Please fill out the following form to confirm your attendance.</p>

    <div class="col-sm-6 col-sm-offset-3">
      <form (ngSubmit)="submitForm()">
        <div class="form-group">
          <label>First Name:</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" [(ngModel)]="surnames" name="surnames" required>
          </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
          <label>Will you attend?</label>
          <div class="radio-group">
            <label>
              <input type="radio" [(ngModel)]="attendance" name="attendance" [value]="true" required> Yes
            </label>
            <label>
              <input type="radio" [(ngModel)]="attendance" name="attendance" [value]="false"> No
            </label>
          </div>
        </div>

        <div *ngIf="attendance">
          <label>Regarding the menu, do you have any dietary preferences we should know about?</label>
          <div class="radio-group">
            <label>
              <input type="radio" [(ngModel)]="menu" name="menu" value="normal" required checked> None
            </label>
            <label>
              <input type="radio" [(ngModel)]="menu" name="menu" value="vegan"> Vegan
            </label>
            <label>
              <input type="radio" [(ngModel)]="menu" name="menu" value="vegetarian"> Vegetarian
            </label>
            <label>
              <input type="radio" [(ngModel)]="menu" name="menu" value="child"> Child
            </label>
          </div>
          
          <!-- Allergies are not mandatory -->
          <div class="form-group">
            <label>Any allergies?</label>
            <input type="text" class="form-control" [(ngModel)]="allergies" name="allergies">
          </div>
          
          <div class="form-group">
            <label>Do you need special assistance?</label>
            <div class="radio-group">
              <label>
                <input type="radio" [(ngModel)]="needsAssistance" name="needsAssistance" [value]="true" required> Yes
              </label>
              <label>
                <input type="radio" [(ngModel)]="needsAssistance" name="needsAssistance" [value]="false" required> No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>We will have a small pre-wedding event the day before (December 19) at 8:00 PM</label>
            <label>Will you attend the pre-wedding?</label>
            <div class="radio-group">
              <label>
                <input type="radio" [(ngModel)]="preboda" name="preboda" [value]="true" required> Yes
              </label>
              <label>
                <input type="radio" [(ngModel)]="preboda" name="preboda" [value]="false" required> No
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Number of companions:</label>
            <input type="number" class="form-control" [(ngModel)]="companionsCount" name="companionsCount" (input)="updateCompanionsFields()" min="0" required>
          </div>

          <div *ngFor="let companion of companions; let i = index" class="form-group">
            <label>Companion {{ i + 1 }} First Name:</label>
            <input type="text" class="form-control" [(ngModel)]="companion.name" name="companion{{i}}Name" required>

            <label>Companion {{ i + 1 }} Last Name:</label>
            <input type="text" class="form-control" [(ngModel)]="companion.surnames" name="companion{{i}}Surnames" required>

            <label>Regarding the menu for companion {{ i + 1 }}, do you have any dietary preferences we should know about?</label>
            <div class="radio-group">
              <label>
                <input type="radio" [(ngModel)]="companion.menu" name="companion{{i}}Menu" value="normal" required> None
              </label>
              <label>
                <input type="radio" [(ngModel)]="companion.menu" name="companion{{i}}Menu" value="vegan"> Vegan
              </label>
              <label>
                <input type="radio" [(ngModel)]="companion.menu" name="companion{{i}}Menu" value="vegetarian"> Vegetarian
              </label>
            </div>

            <!-- Allergies are not mandatory for companions -->
            <div class="form-group">
              <label>Any allergies?</label>
              <input type="text" class="form-control" [(ngModel)]="companion.allergies" name="companion{{i}}Allergies">
            </div>

            <label>Does companion {{ i + 1 }} need special assistance?</label>
            <div class="radio-group">
              <label>
                <input type="radio" [(ngModel)]="companion.needsAssistance" name="companion{{i}}NeedsAssistance" [value]="true" required> Yes
              </label>
              <label>
                <input type="radio" [(ngModel)]="companion.needsAssistance" name="companion{{i}}NeedsAssistance" [value]="false" checked required> No
              </label>
            </div>
          
          
            <label>Will companion {{ i + 1 }} attend the pre-wedding event on the night of the 19th?</label>
            <div class="radio-group">
              <label>
                <input type="radio" [(ngModel)]="companion.preboda" name="companion{{i}}Preboda" [value]="true" required> Yes
              </label>
              <label>
                <input type="radio" [(ngModel)]="companion.preboda" name="companion{{i}}Preboda" [value]="false" checked required> No
              </label>
            </div>
          </div>

          
          <!-- Song suggestions are not mandatory -->
          <div class="form-group">
            <label>Song suggestions:</label>
            <input type="text" class="form-control" [(ngModel)]="suggestedSongs" name="suggestedSongs">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Confirm attendance</button>
      </form>
      <p class="message-text" [ngClass]="{'success-text': formMessage.includes('Thank you'), 'error-text': formMessage.includes('Error')}">{{ formMessage }}</p>
    </div>
</div>
