<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <h2>Wedding Details</h2>
                <h4 class="gla_subtitle">Saturday, December 20, 2025</h4><br>
                <h4 class="gla_subtitle">San Pedro y San Pablo Church<br>Granada</h4>
                <!-- boxes -->
                <div class="gla_icon_boxes row text-left">
                    

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/sanPedroSanPablo.png);"></span>    
                            </span>
                            <span class="gla_news_title">The Church</span>
                            <p><strong>San Pedro y San Pablo Church</strong><br>Carrera del Darro, 2, Albaicín, 18010<br>Granada, Spain 18010<br></p>
                            <p><strong>The ceremony will be at 12:30 p.m.</strong><br>As you pass Plaza Nueva along the Darro river, access by private car is very limited and there are no nearby parking lots (the closest parking is in Realejo). Therefore, we recommend arriving on foot from Plaza Nueva or using a taxi, which will have no problem accessing.</p>
                            <a class="btn button btn-sm" href="https://www.google.com/maps/place/Iglesia+Parroquial+de+San+Pedro+y+San+Pablo/@37.1786555,-3.5942578,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc02edd1347:0x1da3db02363435bd!8m2!3d37.1786555!4d-3.5916829!16s%2Fg%2F122kbznm?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/santaPaulaPuerta.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">Celebration</span>
                            <p><strong>Hotel Palacio de Santa Paula</strong><br>Gran Vía de Colón, 31, Centro, 18001<br>Granada, Spain 18001<br><br>After the ceremony, we invite you to enjoy a welcome drink at Hotel Santa Paula, followed by the banquet at the same location.
                                Later, we will open the dance floor and the open bar so we can celebrate together. Come with all your energy and excitement to have a great time!<br><br><br></p>
                                <a class="btn button btn-sm" href="https://www.google.com/maps/place/Hotel+Palacio+De+Santa+Paula,+Autograph+Collection/@37.1794101,-3.6181436,15z/data=!3m1!4b1!4m9!3m8!1s0xd71fcc0658a3bab:0xf10836650e62f481!5m2!4m1!1i2!8m2!3d37.1794115!4d-3.5996895!16s%2Fg%2F1trpmk9s?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/claustroSantaPaula.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">More Information</span>
                            <ul>
                            <li> If you have any allergies or special dietary needs, please indicate this in the RSVP form.</li>
                            <li> The menu will include vegan and vegetarian options; let us know in the same form if you prefer any of these alternatives.</li>
                            <li> The hotel is accessible for people with reduced mobility. However, if you need additional assistance, please let us know so we can help you.</li>
                            </ul><br>
                        </span>
                    </div> 

                </div>
                <!-- boxes end -->
                
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->