<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <h2>Detalles de la boda</h2>
                <h4 class="gla_subtitle">Sabado, 20 Diciembre 2025</h4><br>
                <h4 class="gla_subtitle">Iglesia San Pedro y San Pablo<br>Granada</h4>
                <!-- boxes -->
                <div class="gla_icon_boxes row text-left">
                    

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/sanPedroSanPablo.png);"></span>    
                            </span>
                            <span class="gla_news_title">La Iglesia</span>
                            <p><strong>Iglesia San Pedro y San Pablo</strong><br>Carrera del Darro, 2, Albaicín, 18010<br>Granada, España 18010<br></p>
                            <p><strong>La ceremonia sera a las 13:00 pm</strong><br>Al estar pasando Plaza Nueva a la orilla del rio Darro, el acceso en coche particular es muy limitado y no hay estacionamientos cercanos (el parking más próximo está en el Realejo). Por ello, recomendamos llegar a pie desde la Plaza Nueva o utilizar un taxi, que no tendrá ningún inconveniente para acceder</p>
                            <a class="btn button btn-sm" href="https://www.google.com/maps/place/Iglesia+Parroquial+de+San+Pedro+y+San+Pablo/@37.1786555,-3.5942578,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc02edd1347:0x1da3db02363435bd!8m2!3d37.1786555!4d-3.5916829!16s%2Fg%2F122kbznm?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/santaPaulaPuerta.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">Celebracion</span>
                            <p><strong>Hotel Palacio De Santa Paula</strong><br>Gran Vía de Colón, 31, Centro, 18001<br>Granada, España 18001<br><br>Después de la ceremonia, os invitamos a disfrutar de una copa de bienvenida en el Hotel Santa Paula, seguida del banquete en el mismo lugar.
                                Más tarde, abriremos la pista de baile y la barra libre para que celebremos juntos. ¡Venid con toda la energía y las ganas de pasarlo en grande!<br><br><br></p>
                                <a class="btn button btn-sm" href="https://www.google.com/maps/place/Hotel+Palacio+De+Santa+Paula,+Autograph+Collection/@37.1794101,-3.6181436,15z/data=!3m1!4b1!4m9!3m8!1s0xd71fcc0658a3bab:0xf10836650e62f481!5m2!4m1!1i2!8m2!3d37.1794115!4d-3.5996895!16s%2Fg%2F1trpmk9s?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                        </span>
                    </div> 

                    <!-- item -->
                    <div class="col-md-4 col-sm-6">
                        <span class="gla_news_block">
                            <span class="gla_news_img">
                                <span class="gla_over" style="background-image:url(assets/images/claustroSantaPaula.jpg);"></span>  
                            </span>
                            <span class="gla_news_title">Mas informacion</span>
                            <ul>
                            <li> Si tienes alguna alergia o necesidad alimentaria especial, por favor indícalo en el formulario de confirmación de asistencia</li>
                            <li> El menú incluirá opciones veganas y vegetarianas; háznoslo saber en el mismo formulario si prefieres alguna de estas alternativas</li>
                            <li> El hotel es completamente accesible para personas con movilidad reducida. No obstante, si necesitas asistencia adicional, indícanoslo para poder ayudarte</li>
                            </ul><br>
                        </span>
                    </div> 

                </div>
                <!-- boxes end -->
                
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->