<!-- Page -->
<div class="gla_page" id="gla_page">

  <!-- NAVIGATION -->
  <app-top-nav></app-top-nav>
  <!-- END of NAVIGATION -->
  
      <!-- Content -->
      <section id="gla_content" class="gla_content">
  
          <!-- section -->
          <section class="gla_section">
              
              <div class="container text-center">
                  <!-- <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
                  <h2 style="margin-bottom: 10px; margin-top: 50px;">Information for Travelers</h2>
                  <p>We are very excited that you are joining us on such a special day. We know that some of you will have to travel to Granada, so we have prepared a small guide with useful information about the city and some places that mean a lot to us. In the Special Places section, you will find spots we love and hope you will enjoy too.</p>
  
                  <div class="tabs">
                      <ul class="nav nav-tabs bootstrap-tabs great-tabs center top-margin-xlg">
                          <li class="active"><a href="#airports-tab" class="a-inv" data-toggle="tab"><i class="fas fa-car"></i>Parkings</a></li>
                          <li><a href="#accomodations-tab" class="a-inv" data-toggle="tab"><i class="fas fa-hotel"></i>Where to Stay</a></li>
                          <li><a href="#attractions-tab" class="a-inv" data-toggle="tab"><i class="fas fa-map-marked-alt"></i>Special Places</a></li>
                      </ul>
                      <div class="tab-content">
                          <div class="tab-pane fade in active" id="airports-tab">
                          <!-- boxes -->
                          <div class="top-margin-lg row text-left">
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-san-agustin.png);"></span>    
                                      </span>
                                      <span class="gla_news_title">San Agustín Parking</span>
                                      <p><strong>Right in the center of Granada. 11 min walk from San Pedro y San Pablo Church.</strong><br>3 min walk from Santa Paula Hotel.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+San+Agust%C3%ADn+telpark+by+Empark/@37.1777511,-3.6016944,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcbf9d1a0851:0xf1a82ab7e13cd49f!8m2!3d37.1777469!4d-3.5991195!16s%2Fg%2F11g_qx223?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-angel-ganivet.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Ángel Ganivet Parking</span>
                                      <p><strong>In the center of Granada. 14 min walk from San Pedro y San Pablo Church.</strong><br>12 min walk from Santa Paula Hotel.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+Angel+Ganivet/@37.1730001,-3.6005125,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fdc60bd462fd:0x9b3f2b4d5651b27c!8m2!3d37.1729959!4d-3.5979376!16s%2Fg%2F11kp9_bqk3?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-plaza-de-los-campos.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Plaza de los Campos Parking</span>
                                      <p><strong>Very close to the center of Granada. 14 min walk from San Pedro y San Pablo Church.</strong><br>13 min walk from Santa Paula Hotel.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/PARKING+PLAZA+DE+LOS+CAMPOS/@37.1726092,-3.59537,15z/data=!4m2!3m1!1s0x0:0x3b98738b56a3b78c?sa=X&ved=1t:2428&ictx=111" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                          </div>
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
  
                          <div class="tab-pane fade" id="accomodations-tab">
                          <!-- boxes -->
                          <div class="gla_icon_boxes row text-left">
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/gran-via.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">City Center</span>
                                      <p>Granada has a beautiful historic center. Although prices here may be a bit higher for accommodation, we recommend this area as you can walk everywhere. Reference streets: Recogidas Street, Gran Vía de Colón, Elvira Street, and Reyes Católicos Street.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/C.+Gran+V%C3%ADa+de+Col%C3%B3n,+Granada,+Spain/@37.1795552,-3.602182,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc07cef1aa3:0x6843ea4575527617!8m2!3d37.1795552!4d-3.5996071!16s%2Fg%2F1tgmxmny?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/realejo.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Realejo Neighborhood</span>
                                      <p>10 min walk from the city center and closer to the most touristic areas. Here you can enjoy a very authentic neighborhood known for its squares, low houses, and bohemian life. Reference streets: Plaza Fortuny, Pavaneras Street, Molinos Street, and Campo del Príncipe Street.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Campo+del+Pr%C3%ADncipe,+Centro,+18009+Granada,+Spain/@37.1732075,-3.5931767,18z/data=!3m1!4b1!4m6!3m5!1s0xd71fcba04995d85:0x8524eb09d45641fd!8m2!3d37.1732075!4d-3.5918892!16s%2Fg%2F11y00yzp_?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div>
                              <!-- item -->
                               <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/gran-capitan.jpg);"></span>
                                      </span>
                                      <span class="gla_news_title">Gran Capitán Area</span>
                                      <p>A bit further from the center, 15 min walk, but with very good connections and access. Besides being an area where accommodation will be cheaper, it is a quiet area with lots of life. Reference streets: Gran Capitán Street, San Juan de Dios Street, and Tablas Street.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Plaza+Gran+Capit%C3%A1n/@37.1772631,-3.6111913,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc94a14f1211:0x5f232697e86a38db!8m2!3d37.1772632!4d-3.6063204!16s%2Fg%2F11f3_p174t?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/albaycin.jpg);"></span>
                                      </span>
                                      <span class="gla_news_title">Albaicín</span>
                                      <p>The most touristic neighborhood in Granada. Depending on the area you choose, it may be a bit far from our wedding celebration, but if your intention is to enjoy and discover Granada during those days, it is also a great option. Warning: this neighborhood is in the highest part of Granada, so there are hills. Reference streets: Carrera del Darro and Calderería Nueva Street.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/C.+Calderer%C3%ADa+Nueva,+Albaic%C3%ADn,+18010+Granada,+Spain/@37.1784868,-3.5973129,18.47z/data=!4m6!3m5!1s0xd71fcbf4fcbdc81:0x511a6013ba4beea4!8m2!3d37.177892!4d-3.5968339!16s%2Fg%2F11xy2kbsb?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                          </div>
                          
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
  
                          <div class="tab-pane fade" id="attractions-tab">
                          <!-- boxes -->
                          <div class="top-margin-lg row text-left">
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/miradorLavadero.jpg);"></span>    
                                      </span>
                                      <span class="gla_news_title">Lavadero Viewpoint</span>
                                      <p>Located in the Realejo neighborhood, here you can enjoy one of the best sunsets in the city, and the best part is that it’s not crowded at all ;)</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Mirador+del+Lavadero/@37.1751488,-3.5971145,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb90fd4abfd:0x7e5a15f80476fda9!8m2!3d37.1751488!4d-3.5945396!16s%2Fg%2F11c3ynnvwj?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/tabernaCandela.jpg);"></span>    
                                      </span>
                                      <span class="gla_news_title">Candela Tavern</span>
                                      <p>Located in the Realejo neighborhood (one of the most beautiful neighborhoods in Granada). A very special place for us where you can enjoy different wines accompanied by their delicious toasts.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Bar+Candela/@37.1743658,-3.5976104,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb98bbc1829:0xc276282a97404358!8m2!3d37.1743658!4d-3.5950355!16s%2Fg%2F1tf32qzf?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/cafeteriaQarmita.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">La Qarmita Café</span>
                                      <p>For coffee lovers, we recommend this bohemian café/bookstore where you can enjoy the best coffee surrounded by huge bookshelves full of books.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/La+Qarmita+-+Libros,+Caf%C3%A9+%26+Eventos/@37.1729525,-3.6073773,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc960b01b68f:0x6415c216ec02b33c!8m2!3d37.1729526!4d-3.6025064!16s%2Fg%2F1hc22xpgv?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/pubSonora.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Sonora Pub</span>
                                      <p>This western-themed pub is where Jorge and his friends spent most of their youth. Cold beers, rock music, foosball, and best of all, if you write to Jorge or his friends, they’ll probably join you for a beer. All advantages!</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Pub+Sonora+Desert+Saloon/@37.1771881,-3.611242,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc932347cd03:0x3cd5c8afe9f6b7e8!8m2!3d37.1771881!4d-3.6086671!16s%2Fg%2F1hc0y5qfr?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/barTango.jpeg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Tango Bar</span>
                                      <p>Tango Bar is next to Sonora Pub, this bar has delicious pizza tapas and serves Estrella Galicia beer on tap. What more could you ask for!</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Tango+Bar/@37.1766764,-3.6114941,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc3affffffb1:0xc6bcef11f59fe08d!8m2!3d37.1766764!4d-3.6089192!16s%2Fg%2F11dxs3zxn7?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/abadiaDelSacromonte.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Sacromonte Abbey</span>
                                      <p>A beautiful place with an 18th-century chapel located on the Sacromonte hill in Granada. With privileged views, the abbey is one of the most magical places in Granada. For the more adventurous, there is a beautiful circular hike going up through the Albaicín and passing by the Sacromonte caves. If not, you can easily get there by taxi.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Abad%C3%ADa+del+Sacromonte/@37.1828813,-3.5799616,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc9a25f46e5:0x1e47624ce5cb1371!8m2!3d37.1828813!4d-3.5773867!16s%2Fg%2F122vl1xy?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://abadiasacromonte.org/" target="_blank" role="button">Read more</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/paseoDeLosTristes.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Paseo de los Tristes</span>
                                      <p>Just steps away from where we are getting married is one of the most beautiful places in Granada, a huge square at the foot of the Alhambra where you can enjoy a beer in the sun.</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/P.%C2%BA+de+los+Tristes,+Albaic%C3%ADn,+18010+Granada,+Spain/@37.1792039,-3.5913462,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc82c7f5883:0x15138785e068fd19!8m2!3d37.1791997!4d-3.5887713!16s%2Fg%2F11f78bg4mn?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://www.barcelo.com/guia-turismo/es/espana/granada/que-ver/paseo-de-los-tristes/" target="_blank" role="button">Read more</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/alhambra.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Alhambra</span>
                                      <p>The crown jewel of Granada. The Nasrid palace built in 1384 that has witnessed more than 100 years of Granada’s history. Don’t miss it!</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/Alhambra/@37.1760825,-3.5907162,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb7977fb93b:0x808dd1ef1221a27f!8m2!3d37.1760783!4d-3.5881413!16zL20vMDdoX2o?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://www.alhambra-patronato.es/descubrir/alhambra-y-generalife/historia" target="_blank" role="button">Read more</a>
                                  </span>
                              </div>
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/catedral.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Cathedral</span>
                                      <p>In the heart of the city is Granada’s cathedral. Gothic style and built in 1589, it is one of the most charming areas of Granada. We recommend strolling around, eating in Plaza del Aguador, and having a coffee in the lovely cafés nearby.</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/Catedral+de+Granada,+Centro,+18001+Granada,+Espa%C3%B1a/@37.1760463,-3.6017333,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcbfabac5341:0x1e12077a3a67bb31!8m2!3d37.1761737!4d-3.5993053!16s%2Fg%2F11_f0jhyz?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://catedraldegranada.com/la-catedral/su-historia/historia-la-catedral/" target="_blank" role="button">Read more</a>
                                  </span>
                              </div> 
                          </div>
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
                      </div>  
                  </div>
              
              </div>
              <!-- container end -->
  
          </section>
          <!-- section end -->
      
      </section>
      <!-- content end -->
  
  </div>
  <!-- page end -->