<!-- Page -->
<div class="gla_page" id="gla_page">

  <!-- NAVIGATION -->
  <app-top-nav></app-top-nav>
  <!-- END of NAVIGATION -->
  
      <!-- Content -->
      <section id="gla_content" class="gla_content">
  
          <!-- section -->
          <section class="gla_section">
              
              <div class="container text-center">
                  <!-- <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
                  <h2 style="margin-bottom: 10px; margin-top: 50px;">Información para viajeros</h2>
                  <p>Estamos muy ilusionados de que nos acompañéis en un día tan especial. Sabemos que algunos tendréis que desplazaros hasta Granada, así que hemos preparado una pequeña guía con información útil sobre la ciudad y algunos rincones que significan mucho para nosotros. En la sección Lugares Especiales encontraréis sitios que nos encantan y que esperamos que también os gusten.</p>
  
                  <div class="tabs">
                      <ul class="nav nav-tabs bootstrap-tabs great-tabs center top-margin-xlg">
                          <li class="active"><a href="#airports-tab" class="a-inv" data-toggle="tab"><i class="fas fa-car"></i>Parkings</a></li>
                          <li><a href="#accomodations-tab" class="a-inv" data-toggle="tab"><i class="fas fa-hotel"></i>Zonas donde alojarse</a></li>
                          <li><a href="#attractions-tab" class="a-inv" data-toggle="tab"><i class="fas fa-map-marked-alt"></i>Lugares especiales</a></li>
                      </ul>
                      <div class="tab-content">
                          <div class="tab-pane fade in active" id="airports-tab">
                          <!-- boxes -->
                          <div class="top-margin-lg row text-left">
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-san-agustin.png);"></span>    
                                      </span>
                                      <span class="gla_news_title">Parking San Agustín</span>
                                      <p><strong>En pleno centro de Granada. A 11 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 3 min a pie del hotel Santa Paula.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+San+Agust%C3%ADn+telpark+by+Empark/@37.1777511,-3.6016944,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcbf9d1a0851:0xf1a82ab7e13cd49f!8m2!3d37.1777469!4d-3.5991195!16s%2Fg%2F11g_qx223?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-angel-ganivet.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Parking Ángel Ganivet</span>
                                      <p><strong>En el centro de Granada. A 14 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 12 min a pie del hotel Santa Paula.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+Angel+Ganivet/@37.1730001,-3.6005125,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fdc60bd462fd:0x9b3f2b4d5651b27c!8m2!3d37.1729959!4d-3.5979376!16s%2Fg%2F11kp9_bqk3?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/parking-plaza-de-los-campos.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Parking Plaza de los Campos</span>
                                      <p><strong>Muy cerca del centro de Granada. A 14 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 13 min a pie del hotel Santa Paula.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/PARKING+PLAZA+DE+LOS+CAMPOS/@37.1726092,-3.59537,15z/data=!4m2!3m1!1s0x0:0x3b98738b56a3b78c?sa=X&ved=1t:2428&ictx=111" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                          </div>
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
  
                          <div class="tab-pane fade" id="accomodations-tab">
                          <!-- boxes -->
                          <div class="gla_icon_boxes row text-left">
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/gran-via.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Zona centro</span>
                                      <p>Granada tiene un casco histórico precioso. Aunque aquí los precios pueden estar un poco más caros para el alojamiento, os recomendamos esta zona al tener toda la ciudad cerca a pie. Calles de referencia de esta zona: calle Recogidas, calle Gran Vía de Colón, calle Elvira y calle Reyes Católicos.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/C.+Gran+V%C3%ADa+de+Col%C3%B3n,+Granada,+Spain/@37.1795552,-3.602182,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc07cef1aa3:0x6843ea4575527617!8m2!3d37.1795552!4d-3.5996071!16s%2Fg%2F1tgmxmny?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/realejo.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Barrio del Realejo</span>
                                      <p>A 10 min andando del centro de la ciudad y más cerca de las zonas más turísticas. Allí podrás disfrutar de un barrio muy auténtico que se caracteriza por las plazas, las casas bajas y su vida bohemia. Calles de referencia de esta zona: Plaza Fortuny, calle Pavaneras, calle Molinos y calle Campo del Príncipe.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Campo+del+Pr%C3%ADncipe,+Centro,+18009+Granada,+Spain/@37.1732075,-3.5931767,18z/data=!3m1!4b1!4m6!3m5!1s0xd71fcba04995d85:0x8524eb09d45641fd!8m2!3d37.1732075!4d-3.5918892!16s%2Fg%2F11y00yzp_?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div>
                              <!-- item -->
                               <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/gran-capitan.jpg);"></span>
                                      </span>
                                      <span class="gla_news_title">Zona Gran Capitán</span>
                                      <p>Un poco más alejado del centro, 15 min andando, pero con muy buenas conexiones y acceso. Aparte de ser una zona donde los alojamientos serán más baratos, es una zona tranquila y con mucha vida. Calles de referencia de esta zona: calle Gran Capitán, calle San Juan de Dios y calle Tablas.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Plaza+Gran+Capit%C3%A1n/@37.1772631,-3.6111913,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc94a14f1211:0x5f232697e86a38db!8m2!3d37.1772632!4d-3.6063204!16s%2Fg%2F11f3_p174t?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-6 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/albaycin.jpg);"></span>
                                      </span>
                                      <span class="gla_news_title">Albaicín</span>
                                      <p>El barrio más turístico de Granada. Dependiendo de la zona que se elija puede estar un poco alejado de la celebración de nuestra boda, pero si tu intención es disfrutar y descubrir Granada en esos días, es una magnífica opción también. Advertencia: es un barrio que está en la zona más alta de Granada, por tanto tendrá cuestas. Calles de referencia de esta zona: calle Carrera del Darro y calle Calderería Nueva.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/C.+Calderer%C3%ADa+Nueva,+Albaic%C3%ADn,+18010+Granada,+Spain/@37.1784868,-3.5973129,18.47z/data=!4m6!3m5!1s0xd71fcbf4fcbdc81:0x511a6013ba4beea4!8m2!3d37.177892!4d-3.5968339!16s%2Fg%2F11xy2kbsb?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                          </div>
                          
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
  
                          <div class="tab-pane fade" id="attractions-tab">
                          <!-- boxes -->
                          <div class="top-margin-lg row text-left">
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/miradorLavadero.jpg);"></span>    
                                      </span>
                                      <span class="gla_news_title">Mirador del Lavadero</span>
                                      <p>Localizado en el barrio del Realejo, en este lugar se puede disfrutar de una de las mejores puestas de sol de la ciudad, y lo mejor de todo es que no está para nada masificado ;)</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Mirador+del+Lavadero/@37.1751488,-3.5971145,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb90fd4abfd:0x7e5a15f80476fda9!8m2!3d37.1751488!4d-3.5945396!16s%2Fg%2F11c3ynnvwj?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/tabernaCandela.jpg);"></span>    
                                      </span>
                                      <span class="gla_news_title">Taberna Candela</span>
                                      <p>Situada en el barrio del Realejo (uno de los barrios más bonitos de Granada). Un lugar muy especial para nosotros donde se pueden disfrutar de distintos vinos acompañados de sus tostas de tapa.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Bar+Candela/@37.1743658,-3.5976104,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb98bbc1829:0xc276282a97404358!8m2!3d37.1743658!4d-3.5950355!16s%2Fg%2F1tf32qzf?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/cafeteriaQarmita.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Cafetería la Qarmita</span>
                                      <p>Para los amantes del café, recomendamos esta bohemia cafetería/librería donde podréis disfrutar del mejor café rodeados de enormes estanterías llenas de libros.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/La+Qarmita+-+Libros,+Caf%C3%A9+%26+Eventos/@37.1729525,-3.6073773,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc960b01b68f:0x6415c216ec02b33c!8m2!3d37.1729526!4d-3.6025064!16s%2Fg%2F1hc22xpgv?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/pubSonora.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Pub Sonora</span>
                                      <p>En este pub con ambientación western es donde Jorge y sus amigos han pasado la mayor parte del tiempo de su juventud. Tercios fríos, música rock, futbolín y lo mejor de todo, si escribes a Jorge o a sus amigos seguramente se animen a echarse una cerveza. ¡Todo ventajas!</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Pub+Sonora+Desert+Saloon/@37.1771881,-3.611242,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc932347cd03:0x3cd5c8afe9f6b7e8!8m2!3d37.1771881!4d-3.6086671!16s%2Fg%2F1hc0y5qfr?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/barTango.jpeg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Bar Tango</span>
                                      <p>El bar Tango esta pegando al pub Sonora, este bar tiene unas pizzas de tapa muy sabrosas y tiene grifo de Estrella Galicia ¡Qué más se puede pedir!</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Tango+Bar/@37.1766764,-3.6114941,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc3affffffb1:0xc6bcef11f59fe08d!8m2!3d37.1766764!4d-3.6089192!16s%2Fg%2F11dxs3zxn7?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/abadiaDelSacromonte.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Abadía del Sacromonte</span>
                                      <p>Un lugar precioso con una capilla del siglo XVIII situada en el monte Sacromonte de Granada. Con unas vistas privilegiadas, la abadía alberga uno de los lugares mas mágicos de Granada. Para los más aventureros, hay una excursión circular preciosa subiendo por el Albaycin y pasando por las cuevas del Sacromonte. Si no se puede llegar perfectamente en taxi.</p>
                                      <a class="btn button btn-sm" href="https://www.google.com/maps/place/Abad%C3%ADa+del+Sacromonte/@37.1828813,-3.5799616,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc9a25f46e5:0x1e47624ce5cb1371!8m2!3d37.1828813!4d-3.5773867!16s%2Fg%2F122vl1xy?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://abadiasacromonte.org/" target="_blank" role="button">Leer mas</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/paseoDeLosTristes.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Paseo de los tristes</span>
                                      <p>A dos pasos del lugar donde nos casamos esta uno de los lugares mas bonitos de Granada, una inmensa plaza a los pies de la Alhambra donde puedes disfrutar de una cervecita al sol.</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/P.%C2%BA+de+los+Tristes,+Albaic%C3%ADn,+18010+Granada,+Spain/@37.1792039,-3.5913462,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcc82c7f5883:0x15138785e068fd19!8m2!3d37.1791997!4d-3.5887713!16s%2Fg%2F11f78bg4mn?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://www.barcelo.com/guia-turismo/es/espana/granada/que-ver/paseo-de-los-tristes/" target="_blank" role="button">Leer mas</a>
                                  </span>
                              </div> 
                              <!-- item -->
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/alhambra.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Alhambra</span>
                                      <p>La joya de la corona de Granada. El palacio Nazarí construido en 1384 que ha sido testigo de más de 100 años de historia de Granada ¡No dudes en visitarlo!</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/Alhambra/@37.1760825,-3.5907162,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcb7977fb93b:0x808dd1ef1221a27f!8m2!3d37.1760783!4d-3.5881413!16zL20vMDdoX2o?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://www.alhambra-patronato.es/descubrir/alhambra-y-generalife/historia" target="_blank" role="button">Leer mas</a>
                                  </span>
                              </div>
                              <div class="col-md-4 col-sm-6">
                                  <span class="gla_news_block">
                                      <span class="gla_news_img">
                                          <span class="gla_over" style="background-image:url(assets/images/catedral.jpg);"></span>  
                                      </span>
                                      <span class="gla_news_title">Catedral</span>
                                      <p>En pleno centro de la ciudad se encuentra la catedral de Granada. De estilo gótico y construida en 1589, es una de las zonas con mas encanto de Granada. Te recomendamos pasear por la zona, comer en la plaza del aguador y tomarte un café en las encantadoras cafeterías que hay por la zona.</p>
                                      <a class="btn button btn-sm" href="https://www.google.co.uk/maps/place/Catedral+de+Granada,+Centro,+18001+Granada,+Espa%C3%B1a/@37.1760463,-3.6017333,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcbfabac5341:0x1e12077a3a67bb31!8m2!3d37.1761737!4d-3.5993053!16s%2Fg%2F11_f0jhyz?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Google Maps</a>
                                      <a class="btn button btn-sm" href="https://catedraldegranada.com/la-catedral/su-historia/historia-la-catedral/" target="_blank" role="button">Leer mas</a>
                                  </span>
                              </div> 
                          </div>
                          <!-- boxes end -->
                          </div>
                          <!-- tab end -->
                      </div>  
                  </div>
              
              </div>
              <!-- container end -->
  
          </section>
          <!-- section end -->
      
      </section>
      <!-- content end -->
  
  </div>
  <!-- page end -->