<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <!-- <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
                <h2 style="margin-bottom: 10px; margin-top: 50px;">Lista de bodas</h2>
                <p>Dicen que con belleza, sabiduria y riqueza se vive perfectamente. Las dos primeras nos sobran asi que lo que mejor nos vendria es que nos apoyarais monetariamente xD Nos gustaria dejar claro que en este aspecto hemos invitado a la gente que queremos y que es importante para nosotros, por tanto es totalmente opcional lo que cada uno pueda aportar o no. Asi que PAGAD CABRONES. Aqui teneis las distintas formas de pago por si quereis apoyarnos dadivosamente.S</p>
                <div class="tabs">
                    <ul class="nav nav-tabs bootstrap-tabs great-tabs center top-margin-xlg">
                        <li class="active"><a href="#airports-tab" class="a-inv" data-toggle="tab"><i class="fas fa-car"></i>Parkings</a></li>
                        <li><a href="#accomodations-tab" class="a-inv" data-toggle="tab"><i class="fas fa-hotel"></i>Alojamientos</a></li>
                        <li><a href="#attractions-tab" class="a-inv" data-toggle="tab"><i class="fas fa-map-marked-alt"></i>Lugares especiales</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="airports-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/parking-san-agustin.png);"></span>    
                                    </span>
                                    <span class="gla_news_title">Cuenta bancaria</span>
                                    <p><strong>En pleno centro de Granada. A 11 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 3 min a pie del hotel Santa Paula.</p>
                                    <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+San+Agust%C3%ADn+telpark+by+Empark/@37.1777511,-3.6016944,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fcbf9d1a0851:0xf1a82ab7e13cd49f!8m2!3d37.1777469!4d-3.5991195!16s%2Fg%2F11g_qx223?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/dca.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Bizum</span>
                                    <p><strong>En el centro de Granada. A 14 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 12 min a pie del hotel Santa Paula.</p>
                                    <a class="btn button btn-sm" href="https://www.google.com/maps/place/Parking+Angel+Ganivet/@37.1730001,-3.6005125,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fdc60bd462fd:0x9b3f2b4d5651b27c!8m2!3d37.1729959!4d-3.5979376!16s%2Fg%2F11kp9_bqk3?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/parking-plaza-de-los-campos.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Paypal</span>
                                    <p><strong>Muy cerca del centro de Granada. A 14 min andando de la Iglesia San Pedro y San Pablo.</strong><br>A 13 min a pie del hotel Santa Paula.</p>
                                    <a class="btn button btn-sm" href="https://www.google.com/maps/place/PARKING+PLAZA+DE+LOS+CAMPOS/@37.1726092,-3.59537,15z/data=!4m2!3m1!1s0x0:0x3b98738b56a3b78c?sa=X&ved=1t:2428&ictx=111" target="_blank" role="button">Find flights!</a>
                                </span>
                            </div> 
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->

                        <div class="tab-pane fade" id="accomodations-tab">
                        <!-- boxes -->
                        <div class="gla_icon_boxes row text-left">
                            <!-- item -->
                            <div class="col-md-6 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/hotel.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Best Western Leesburg Hotel and Conference Center</span>
                                    <p>A block of rooms has been reserved for our guests at a discounted rate. <strong>Reference the Rodriguez/O'Donnell Wedding when making your reservation.</strong> This hotel is about a 20-minute drive from the wedding venue.</p>
                                    <a class="btn button btn-sm" href="https://www.bestwestern.com/en_US/book/hotels-in-leesburg/best-western-leesburg-hotel-conference-center/propertyCode.47076.htmlI" target="_blank" role="button">Book a room!</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-6 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/airbnb.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Live Like the Locals. Airbnb around Purcellville, VA</span>
                                    <p>There are plenty of beautiful properties available for rent on Airbnb, including a tiny house if you're feeling adventurous! The wedding venue is in Purcellville, but there are other cities nearby like Leesburg you can look into as well.</p>
                                    <a class="btn button btn-sm" href="https://www.airbnb.com/s/Purcellville--VA/homes?refinement_paths%5B%5D=%2Fhomes&allow_override%5B%5D=&s_tag=bUW17lSo" target="_blank" role="button">Browse rentals!</a>
                                </span>
                            </div> 
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->

                        <div class="tab-pane fade" id="attractions-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/oldtown.jpg);"></span>    
                                    </span>
                                    <span class="gla_news_title">Mirador del lavadero</span>
                                    <p>Localizado en el barrio del Realejo, en este lugar se puede disfrutar de una de las mejores puestas de sol de la ciudad, y lo mejor de todo es que no esta para nada masificado ;)</p>
                                    <a class="btn button btn-sm" href="https://www.visitalexandriava.com/old-town-alexandria/" target="_blank" role="button">Google Maps</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/middleburg.jpeg);"></span>    
                                    </span>
                                    <span class="gla_news_title">Taberna Candela</span>
                                    <p>Situada en el barrio del Realejo (uno de los barrios mas bonitos de Granada). Un lugar muy especial para nosotros donde se pueden disfrutar de distintos vinos acompanados de sus tostas de tapa. </p>
                                    <a class="btn button btn-sm" href="http://visitmiddleburgva.com/attractions/" target="_blank" role="button">Google Maps</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/topgolf.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Cafeteria blablabla</span>
                                    <p>Para los amantes del cafe, recomendamos esta bohemia cafeteria/libreria donde podreis disfrutar del mejor cafe rodeados de enormes estanterias llenas de libros</p>
                                    <a class="btn button btn-sm" href="https://topgolf.com/us/loudoun/" target="_blank" role="button">Google Maps</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/monument.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Pub Sonora</span>
                                    <p>En este pub con ambientacion western es donde Jorge y sus amigos han pasado la mayor parte del tiempo de su juventud. Tercios frios, musica rock, futbolin y lo mejor de todo, si escribes a Jorge o a sus amigos seguramente se animen a echarse una cerveza. Todo ventajas!</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/must-see-memorials-monuments-national-mall" target="_blank" role="button">Google Maps</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/museum.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Bar pizzas ricas</span>
                                    <p>El bar pizzas ricas esta pegando al pub sonora, este bar tiene unas pizzas de tapa muy sabrosas y tiene grifo de Estrella Galicia, Que mas se puede pedir!</p>
                                    <a class="btn button btn-sm" href="https://www.si.edu/museums" target="_blank" role="button">Google Maps</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/harbor.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Abadia del Sacromonte</span>
                                    <p>Un lugar precioso con una capilla del siglo XVIII situada en el monte Sacromonte de Granada. COn unas vistas privilegiadas, la Abadia alberga uno de los lugares mas magicos de Granada. Para los mas aventureros, hay una excursion circular preciosa subiendo por el Albaycin y pasando por las cuevas del sacromonte. Si no se puede llegar perfectamente en Taxi.</p>
                                    <a class="btn button btn-sm" href="https://www.nationalharbor.com/" target="_blank" role="button">Google Maps</a>
                                    <a class="btn button btn-sm" href="https://www.nationalharbor.com/" target="_blank" role="button">Leer mas</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/georgetown.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Paseo de los tristes</span>
                                    <p>A dos pasos del lugar donde nos casamos esta uno de los lugares mas bonitos de Granada, una inmensa plaza a los pies de la Alhambra donde puedes disfrutar de una cervecita al Sol!</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Google Maps</a>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Leer mas</a>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/winery.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Alhambra</span>
                                    <p>La joya de la corona de Granada. El palacio Nazari construido en 1384 que ha sido testigo de mas de 100 anos de historia de Granada. No dudes en visitarlo!</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Google Maps</a>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Leer mas</a>
                                </span>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/georgetown.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Catedral</span>
                                    <p>En pleno centro de la ciudad se encuentra la catedral de Granada. De estilo gotico y construida en 1589, es una de las zonas con mas encanto de Granada. Te recomendamos pasear por la zona, comer en la plaza del aguador y tomarte un cafe en las encantadoras cafeterias que hay por la zona.</p>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Google Maps</a>
                                    <a class="btn button btn-sm" href="https://washington.org/visit-dc/things-see-do-georgetown-washington-dc" target="_blank" role="button">Leer mas</a>
                                </span>
                            </div> 
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->
                    </div>  
                </div>
            
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->