<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <!-- <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
                <h2 style="margin-bottom: 10px; margin-top: 50px;">Lista de bodas</h2>
                <p>Si estáis pensando en tener un detalle con nosotros, lo que mejor nos vendría es una contribución a nuestro "fondo de vida juntos". ¡Cualquier aportación será más que apreciada! Aquí tenéis las distintas formas de contribuir disponibles. ¡Prometemos gastarlo con estilo!</p>
                <div class="tabs">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="airports-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/cash-removebg-preview.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Efectivo</span>
                                    <p>Para los más tradicionales, aceptamos efectivo.</p>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/bank.png);"></span>    
                                    </span>
                                    <span class="gla_news_title">Cuenta bancaria</span>
                                    <p>Aquí os dejamos nuestro IBAN y nuestros datos bancarios de Inglaterra para que os sea más cómodo:</p>
                                    <p><strong>IBAN español:</strong></p>
                                    <p>ES22 0049 3950 5620 9406 4367</p>
                                    <p><strong>Datos bancarios en Inglaterra:</strong></p>
                                    <p>Account holder name:</p>
                                    <p>Jorge Rubio & Rosana Portillo</p>
                                    <p>Sort Code: 23-01-20</p>
                                    <p>Account number: 49626477 </p>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/bizum-removebg-preview.png);"></span>  
                                    </span>
                                    <span class="gla_news_title">Bizum</span>
                                    <p>También os dejamos un número al que podéis hacernos Bizum si os resulta más fácil: +34636530606</p>
                                </span>
                            </div> 
                            <!-- item -->
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->


                    </div>  
                </div>
            
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->