<!-- Page -->
<div class="gla_page" id="gla_page">

<!-- NAVIGATION -->
<app-top-nav></app-top-nav>
<!-- END of NAVIGATION -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            
            <div class="container text-center">
                <!-- <p><img src="assets/images/flowers_slider/flowertop.png" data-bottom-top="@src:assets/images/flowers_slider/flowertop.png" height="150" alt=""></p> -->
                <h2 style="margin-bottom: 10px; margin-top: 50px;">Lista de bodas</h2>
                <p>Si estais pensando tener un detalle con nosotros, lo que mejor nos vendria es una contribucion a nuestro "fondo de vida juntos". Cualquier aportacion sera mas que apreciada! Aqui teneis las distintas formas de contribuir disponibles. Prometemos gastarlo con estilo!</p>
                <div class="tabs">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="airports-tab">
                        <!-- boxes -->
                        <div class="top-margin-lg row text-left">
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/bank.png);"></span>    
                                    </span>
                                    <span class="gla_news_title">Cuenta bancaria</span>
                                    <p>Aqui os dejamos nuestro IBAN y nuestros bank details de Inglaterra para que os sea mas comodo:</p>
                                    <p>IBAN espanol: ES22 0049 3950 5620 9406 4367</p>
                                    <p>English Bank details:</p>
                                    <p>Account holder name: Rosana Portillo Gimenez</p>
                                    <p>Account number:</p>
                                    <p>Sort Code:</p>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/bizum.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Bizum</span>
                                    <p>Tambien os dejamos un numero al que podeis hacernos Bizum si os resulta mas facil: +34636530606</p>
                                </span>
                            </div> 
                            <!-- item -->
                            <div class="col-md-4 col-sm-6">
                                <span class="gla_news_block">
                                    <span class="gla_news_img">
                                        <span class="gla_over" style="background-image:url(assets/images/cash.jpg);"></span>  
                                    </span>
                                    <span class="gla_news_title">Efectivo</span>
                                    <p>Para los mas tradicionales, tambien aceptamos efectivo.</p>
                                </span>
                            </div> 
                            <!-- item -->
                        </div>
                        <!-- boxes end -->
                        </div>
                        <!-- tab end -->


                    </div>  
                </div>
            
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    
    </section>
    <!-- content end -->

</div>
<!-- page end -->