/* ===== Móvil (pantallas ≤ 576px) ===== */
@media (max-width: 576px) {
  .container.text-center h2 {
    font-size: 65px;
    line-height: 44px;
    max-width: 95%;
    margin-top: 20px; /* Aumenta este valor si quieres más separación */
    padding: 0 10px;
  }

  .container.text-center h4 {
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px;
    max-width: 98%;
  }

  .container.text-center h3 {
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px;
    max-width: 95%;
  }

  .gla_news_img,
  .gla_news_img .gla_over {
    width: 100%;
    min-height: 120px;
    max-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}